extends layout

block content
	div#wrap
		header 
			h1 PRINTING OPTIONS
			a.back(href="javascript:void(0);")
				img(src="img/backbutton.png", height="44")
		div#content
			form#returncrop(action='/return-crop', method='post')
				input(type='hidden', value='#{oldsrc}', name='oldsrc')
				input(type='hidden', value='#{oldname}', name='oldname')
			form#print-form(action='print', method = 'post', enctype='multipart/form-data')
				input(type='hidden', value='#{src}', name='src')
				input(type='hidden', value='#{name}', name='name')
				div.thumbnail
					img(src="#{src}", width=300)
				div.print-opt
					p Please select the size of your photo printout
					div
						div.checkbx 
							label 4R
								input(type='checkbox', name='type', value='_4r')
						div.checkbx 
							label Half-4R
								input(type='checkbox', name='type', value='half4r')
						div.checkbx 
							label Wallet
								input(type='checkbox', name='type', value='wallet')
					p Do you wish to see your photo appear on the photo gallery? Please note that if you select Yes, your photo will appear on the event photo gallery and everyone will be able to see it.
					div.radio 
						label YES
							input(type='radio', name='isAppear' value='true') 

						label NO
							input(type='radio', name='isAppear' value='false', checked='checked')

	footer
		a#print(href='javascript:void(0);') Click to print 
	div.backdrop.fade.hide
		img(src='/img/loader.gif')
	script(type='text/javascript', src='js/jquery.min.js')
	script(type='text/javascript', src='js/printopt.js')