extends layout

block content
	link(href='stylesheets/jquery.cropbox.css', rel='stylesheet')
	div#wrap
		header 
			h1 CROP
			//- div.crop-image
			//- 	img#target(src='#{src}')
			
			//- form#crop(role='form', method='post', action='crop')
			//- 	input(type='hidden', name='x1', id='x1')
			//- 	input(type='hidden', name='y1', id='y1')
			//- 	input(type='hidden', name='x2', id='x2')
			//- 	input(type='hidden', name='y2', id='y2')
			//- 	input(type='hidden', name='w', id='w')
			//- 	input(type='hidden', name='h', id='h')
			//- 	input(type='hidden', name='name', value='#{name}')
		//- div.crop-image
		//- 	div#myId
		img.cropimage(alt="" src="#{src}")
		p #{src}
		form#crop(role='form', method='post', action='crop')
			input(type='hidden', name='x', id='x')
			input(type='hidden', name='y', id='y')
			input(type='hidden', name='w', id='w')
			input(type='hidden', name='h', id='h')
			input(type='hidden', name='name', value='#{name}')
	footer
		a#upload-crop(href="javascript:void(0);") NEXT: Printing Option 
	div.backdrop.fade.hide
		img(src='/img/loader.gif')
	script(type='text/javascript', src='js/jquery.min.js')
	script(type='text/javascript', src='js/hammer.js')
	script(type='text/javascript', src='js/jquery.cropbox.js')
	script(type='text/javascript', src='js/crop-03.js')